:root {
  --l-editor-icon-selected-background-color: #B53200;
  --l-editor-icon-selected-border-color: #FFFFFF;

  --l-editor-icon-first-border-color: rgba(229, 81, 16, 1);
  --l-editor-icon-first-background-color: #88ff88;

  --l-editor-icon-background-color: #88ff88;
  --l-editor-icon-border-color: #88ff88;
  --l-editor-icon-drag-border-color: #00cd00;

  --l-editor-tooltip-background-color: rgba(0, 0, 0, 0.5);
  --l-editor-tooltip-border-color: rgba(0, 0, 0, 0);

  --l-editor-icon-middle-selected-border-color: #FFFFFF;
  --l-editor-icon-middle-background-color: transparent;

  --l-editor-icon-middle-border-color: #88ff88;

  --l-editor-icon-width: 12px;
  --l-editor-icon-height: 12px;
}

.leaflet-marker-pane .tooltip {
  min-width: 100px;
}

.map-edit path {
  cursor: crosshair;
}

.map-draw {
  cursor: crosshair;
}

.m-editor-div-icon-first {
  background: var(--l-editor-icon-first-background-color, #88ff88);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 1px;
  border: 2px solid var(--l-editor-icon-first-border-color, rgba(229, 81, 16, 1));

  box-sizing: border-box;

  margin-left: calc(-1 * var(--l-editor-icon-width) / 2) !important;
  margin-top: calc(-1 * var(--l-editor-icon-height) / 2) !important;
  width: var(--l-editor-icon-width, 10px) !important;
  height: var(--l-editor-icon-height, 10px) !important;
}

.m-editor-div-icon {
  background: var(--l-editor-icon-background-color, #88ff88);
  border: 1px solid var(--l-editor-icon-border-color, #88ff88);
  /*box-shadow: 0 0 6px 1px var(--l-editor-icon-box-shadow-color, #313131);*/
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 1px;
  margin-left: calc(-1 * var(--l-editor-icon-width) / 2) !important;
  margin-top: calc(-1 * var(--l-editor-icon-height) / 2) !important;
  width: var(--l-editor-icon-width, 10px) !important;
  height: var(--l-editor-icon-height, 10px) !important;

  box-sizing: border-box;
}

.static {
  display: inline-block;
  position: initial;
  margin: 0;
  width: 10px;
  height: 10px;
}

.m-editor-div-icon-drag {
  background: transparent;
  border: 1.5px dashed var(--l-editor-icon-drag-border-color, #00cd00);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  margin-left: -15px !important;
  margin-top: -15px !important;
}

.leaflet-tooltip {
  display: none;
  background: var(--l-editor-tooltip-background-color, rgba(0, 0, 0, 0.5));
  border: 1px solid var(--l-editor-tooltip-border-color, rgba(0, 0, 0, 0));
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #FFF;
  font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: -14px;
  padding: 2px 6px;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 6;
}

.leaflet-tooltip:before {
  border-right: 6px solid #d4d4d4;
  border-top: 6px solid rgba(0, 0, 0, 0);
  border-bottom: 6px solid rgba(0, 0, 0, 0);
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
}

.leaflet-show {
  display: block;
}

.leaflet-error-tooltip {
  background-color: #d4d4d4;
  border: 1px solid #E6B6BD;
  color: #B94A48;
}

.leaflet-info-tooltip {
  background-color: #d4d4d4;
  border: 1px solid #939393;
  color: #646464;
}

.leaflet-error-tooltip:before {
  border-right-color: #E6B6BD;
}

.leaflet-msg-editor {
  bottom: 25px;
}

/*.btn-leaflet-msg-container {*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  /*color: white;*/
  /*white-space: nowrap;*/
  /*font-size: 12px;*/
  /*padding: 4px 6px;*/
  /*border-radius: 4px;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 30px;*/
/*}*/

.leaflet-msg-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  white-space: nowrap;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  position: absolute;
  top: -1px;
  left: 16px;
  z-index: 2147483647;
}

.title-hidden {
  display: none;
}

.leaflet-msg-container.title-error {
  background-color: rgba(255, 57, 40, 0.5);
}

.leaflet-msg-container.title-success {
  background-color: rgba(79, 238, 49, 0.5);
}

.title-error {
  background-color: red;
}

.title-success {
  background-color: green;
}

.m-editor-middle-div-icon {
  background-color: var(--l-editor-icon-middle-background-color, transparent);
  border: 2px solid var(--l-editor-icon-middle-border-color, #88ff88);
  border-radius: 50%;
  /*box-shadow: 0 0 6px 1px var(--l-editor-icon-middle-box-shadow-color, #212121);*/

  box-sizing: border-box;

  margin-left: calc(-1 * var(--l-editor-icon-width) / 2) !important;
  margin-top: calc(-1 * var(--l-editor-icon-height) / 2) !important;
  width: var(--l-editor-icon-width, 10px) !important;
  height: var(--l-editor-icon-height, 10px) !important;
}

.m-editor-middle-div-icon.group-selected {
  border-color: var(--l-editor-icon-middle-selected-border-color, #FFFFFF);
}

.m-editor-div-icon.group-selected {
  background: var(--l-editor-icon-selected-background-color, #FFFFFF);
  border-color: var(--l-editor-icon-selected-border-color, #B53200);
  /*box-shadow: 0 0 0 2px var(--l-editor-icon-selected-box-shadow-color, #B53200);*/
  border-width: 2px;
  margin-left: calc(-1 * var(--l-editor-icon-width) / 2) !important;
  margin-top: calc(-1 * var(--l-editor-icon-height) / 2) !important;
  width: var(--l-editor-icon-width, 10px) !important;
  height: var(--l-editor-icon-height, 10px) !important;
}

.btn-leaflet-msg-container.zoom {
  top: 12px;
}
